---
// Simple redirect to the documentation
---

<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0;url=/getting-started/introduction/" />
  <title>Redirecting to Cosdata Documentation</title>
</head>
<body>
  <p>Redirecting to <a href="/getting-started/introduction/">Cosdata Documentation</a>...</p>
</body>
</html>
